/* Стили для компонента Editor */
.container {
  padding: 1rem 3rem;
  animation: fade-in 0.5s ease-in-out forwards;
}

.btnIfThenElse {
  padding: 1rem 2rem;
  border: 0;
  background-color: #454545;
  cursor: pointer;
  font-weight: 700;
  color: #03ae03;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: 0.2s ease-in-out color;
}

.btnIfThenElse:hover {
  background-color: rgb(69, 69, 69, 0.8);
}

.btnIfThenElse:active {
  background-color: #363636;
}

.btnIfThenElse:disabled {
  background-color: #363636;
  color: grey;
  cursor: not-allowed;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.previewBtn {
  background-color: #04b0ea;
}

.previewBtn:hover {
  background-color: rgb(4, 176, 234, 0.8);
}

.previewBtn:active {
  background-color: #0589b6;
}

.saveBtn {
  background-color: #11c311;
}

.saveBtn:hover {
  background-color: rgb(17, 203, 17, 0.8);
}

.saveBtn:active {
  background-color: #0f8a0f;
}

.saveBtn:disabled {
  background-color: #064406;
  color: #fff;
  cursor: not-allowed;
}

.spinner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
/*                             */

/* Стили для компонента Variables */
.containerVar {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1rem;
}

.variables {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.variable {
  padding: 0.5rem 2rem;
  background-color: #1e1e1e;
  color: #03ae03;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out background-color;
}

.variable:hover {
  background-color: rgb(69, 69, 69, 0.8);
}

.variable:active {
  background-color: #363636;
}
/*                                 */
